@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf");
}

:root {
  --primary-color: #12BBAD;
  --secondary-color: #7C828C;
  --background-color: #DADFE1
}
body {
  font-family: 'Poppins';
  font-weight: 300;
  background: var(--background-color);
}
* {
  border-radius: 0px !important;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

#sidebar {
  position: fixed;
  width: 175px;
  background: white;
  height: 100vh;
  overflow: auto;
  top: 0;
  word-wrap:break-word;
}
#sidebar .header{
  margin: 0px;
  padding: 5px 10px;
  background: #f2f2f2;
}
#sidebar .file-list p{
  margin: 0px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--background-color);
}
#sidebar .file-list p:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: white;
}
#sidebar .file-list p.selected {
  background: #cccccc;
}
#sidebar .file-list p.selected:hover {
  color: black;
  cursor: default;
}

#form-div {
  margin-left: 175px;
}
#form-div #title{
  background: var(--primary-color);
  color: white;
  margin: 0px;
}
#form-div #form-catch {
  padding: 5px 10px;
  margin: 0px;
}
#form-div .form-group {
  margin: 0px !important;
}


/* buttons */
.btn-custom-primary {
  background: var(--primary-color);
  color: white;
}
.btn-custom-primary:hover {
  background: var(--secondary-color);
  cursor: pointer;
}
