<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form Reader</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="../css/general.css">
  <link rel="stylesheet" type='text/css' href="../css/styles.css">
</head>
<body>

  <div>
    <div id="sidebar">
      <div class="header">
        <p class="m-0 inl-blk">Apps</p>
        <p class="status mt-1 inl-blk fs-07em fl-r"></p>
      </div>
      <div class="file-list"></div>
    </div>
    <div id="form-div">
      <p id="title"></p>
      <form action="" class="grid-container" appId=''>

      </form>

    </div>
  </div>

  <script type="text/javascript">
    window.$ = window.jQuery = require('jquery');
    $(()=>{
      const electron = require('electron')
      const {ipcRenderer} = electron
      let input, type;

      // Interval get files
      function getFiles(){
        ipcRenderer.send('form:getAll')
      }
      getFiles()
      setInterval(getFiles, 3000);

      // Request Get Initial
      ipcRenderer.send('form:getInitial')

      ipcRenderer.on('form:getAll', (e, json)=>{
        let {files, con} = json

        // connection status
        con ?
          $(`#sidebar > .header .status`).css('color','#00AF66').text('Online') :
          $(`#sidebar > .header .status`).css('color','#6c757d').text('Offline')

        $(`#sidebar .file-list`).html(``)
        files.forEach((data)=>{
          $(`#sidebar .file-list`).append(`
            <p class="m-0" filename='${data.filename}' appId='${data.appId}'>${data.caption}</p>`)
        });
        $(`form`).attr(`appId`) ?
          $(`#sidebar .file-list p[appId=${$(`form`).attr(`appId`)}]`).addClass('selected') : 0

        $(`#sidebar .file-list p`).on('click', function(){
          ipcRenderer.send('form:getOne',{filename: $(this).attr(`filename`), appId: $(this).attr(`appId`)})
          $(`#sidebar .file-list p`).removeClass('selected')
          $(this).addClass('selected')
        });

      });

      ipcRenderer.on('form:empty', (e)=>{
        $(`form`).html(`
          <p id='form-catch'>File directory is empty</p>`)
      });

      ipcRenderer.on('form:err', (e)=>{
        $(`form`).html(`
          <p id='form-catch'>Oops! Something went wrong, please select another file</p>`)
      });

      ipcRenderer.on('form:getOne', (e, json)=>{
        json ?
          json[0] ? json = json[0]._doc : 0
          : 0

        $(`form`).html('')

        // caption
        $(`#title`).text(`${json._app.caption}`)
        $(`#title`).css(`padding`,`5px 10px`)

        // sidebar selected
        $(`form`).attr(`appId`,json._app.appId)
        $(`#sidebar .file-list p`).removeClass('selected')
        $(`#sidebar .file-list p[appId=${$(`form`).attr(`appId`)}]`).addClass('selected')

        // fields
        json.columns.forEach((data)=>{
          type = data[2] == 'Editable' ? '' : 'disabled'

          if(data[1].toLowerCase().match('selection')){
            // get options from string
            let arr = data[1].split(';'), options = '';
            arr[0] = (arr[0].split('-').pop());

            // set options
            arr.forEach((val)=>{
              val = val.trim()
              options += `<option value="${val}">${val}</option>`
            })

            input = `<select name="${data[0]}" class="blk form-control data-field" ${type}>${options}</select>`
          }
          else if(data[1].toLowerCase().match('checkbox')){
            // get options from string
            let arr = data[1].split(';'), options = '';
            arr[0] = (arr[0].split('-').pop());

            // set options
            arr.forEach((val)=>{
              val = val.trim()
              options += `
                <div class="form-check">
                  <input class="form-check-input data-field" type="checkbox" id="check-${val}" name="${data[0]}" value="${val}" ${type}>
                  <label class="form-check-label" for="check-${val}">${val}</label>
                </div>`
            })

            input = options
          }
          else if(data[1] == 'Text Area'){
            input = `<textarea class="mb-2 form-control data-field" rows="4" name="${data[0]}" ${type}/>`
          }
          else{
            data[1] == 'Text' || data[1] == 'Number' || data[1] == 'Date' || data[1] == 'Time' ? 0 : data[1] = 'text'
            input = `<input class="mb-2 form-control data-field" type="${data[1]}" name="${data[0]}" ${type}>`
          }

          data[4] ?
            $(`form`).append(`<div class="form-group" style="grid-column: ${data[4].column}; grid-row: ${data[4].row};"><label>${data[0]}</label>${input}</div>`) :
            $(`form`).append(`<div class="form-group"><label>${data[0]}</label>${input}</div>`)

        })

        // submit button
        $(`form`).append(`
          <div class="align-right-imp mb-2">
            <button class="btn btn-sm btn-custom-primary" type="submit">Submit</button>
          </div>`);

      });

      $(`form`).on('submit', function(e){
        $(`form button[type=submit]`).attr('disabled','disabled')
        e.preventDefault();

        let doc = { appId : $(`form`).attr('appId') }
        $(`form .data-field:not([type=checkbox])`).each(function(){
          doc[$(this).attr('name')] = $(this).val()
        })
        $(`form .data-field[type=checkbox]:checked`).each(function(){
          if(doc[$(this).attr('name')]){
            doc[$(this).attr('name')].push($(this).val())
          }
          else{
            doc[$(this).attr('name')] = [$(this).val()]
          }
        })
        ipcRenderer.send('form:post', doc)

      })

      ipcRenderer.on('form:post', (e)=>{
        $(`html, body`).scrollTop(0);

        $(`form input.data-field:not([type=checkbox]):not([type=radio])`).val('');
        $(`form input.data-field[type=checkbox]`).prop('checked', false);

        $(`form textarea.data-field`).val('');

        $(`form select.data-field`).each(function(){
          $(this).children('option').removeAttr('selected')
          $(this).children('option:first-child').attr('selected','selected')
        })

        $(`form button[type=submit]`).removeAttr('disabled')
      });

    });

  </script>

</body>
</html>
